*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    /* height: 100vh; */
    /* background-image: url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background: radial-gradient(circle, pink, skyblue, green);
    background: radial-gradient();
} */

#header{
    height: 120px;
    width: 100%;
    background: radial-gradient(circle,rgb(194, 233, 245),rgb(133, 217, 228), rgb(16, 131, 142));
    text-align: center;
    padding-top: 40px;
}
.container {
    display: flex;
}
.box1 {
    width: 33%;
    margin: 16px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-image: url("https://images.unsplash.com/photo-1701737946069-5f38dac487d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 10px solid black;
    
}

.box2 {
    width: 33%;
    margin: 16px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1585517342886-1f076085742a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 10px solid rgb(9, 174, 200);
}

.box3 {
    width: 33%;
    height: 500px;
    margin: 16px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-image: url("https://images.unsplash.com/photo-1517435280221-b40edff56d06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    border-radius: 10px 0px 10px 10px;
    border: 10px solid rgb(172, 230, 247);
    background-position: center;
}
